@charset "UTF-8";
/* RESET All ELEMENT */
html, body, div, span, table, caption, tbody, tfoot, thead, tr, th, td, font, img, small, strong, sub, sup, p, a, dl, dt, dd, ol, ul, li, form, label {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* SPECIAL RESET */
ol, ul {
  list-style: none;
}

/*th,td{font-weight:normal;text-align:left;}*/
table {
  border-collapse: separate;
  border-spacing: 0;
}

:focus {
  outline: none;
}

/*============================================
=                    Base                    =
============================================*/
html * {
  max-height: 1000000px;
  /*-webkit-text-size-adjust: 100%;*/
}

a {
  color: #535353;
  text-decoration: none;
}

a, area {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
}

img {
  vertical-align: top;
}

/*iframeRwd*/
/*=============================================
=                    base                     =
=============================================*/
body {
  font: normal 12px/18px Arial,'Microsoft JhengHei','微軟正黑體';
  color: #fff;
}

input, select, textarea {
  font: normal 12px/18px Arial,'Microsoft JhengHei','微軟正黑體';
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

a {
  color: #fff;
  text-decoration: none;
}

body, html {
  height: 100%;
}

/*=============================================
=                  All setting               =
=============================================*/
/*=============================================
=                 Structural                  =
=============================================*/
.wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  display: block;
  text-align: center;
  background: #fff;
}

.pcShow {
  display: block;
}

.mShow {
  display: none;
}

.clear {
  clear: both;
}

/*=============================================
=                     index                   =
=============================================*/
.main {
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .page {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/*=============================================
=                    footer                  =
=============================================*/
/*=============================================
=                    popup                   =
=============================================*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -99;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  -webkit-transition: z-index 0s,visibility 0s,opacity 0s;
  transition: z-index 0s,visibility 0s,opacity 0s;
}

.popup.on {
  opacity: 1;
  visibility: visible;
  z-index: 9;
  -webkit-transition: z-index 0s,visibility 0.5s,opacity 1s;
  transition: z-index 0s,visibility 0.5s,opacity 1s;
}

.popup .popWrap {
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background: rgba(255, 183, 27, 0.5);
}

.popup .popWrap:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.popup .popCon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

.popup .popCon .xBtn {
  display: block;
  position: absolute;
  top: -11px;
  right: -11px;
  width: 30px;
  height: 30px;
  display: block;
  background: #ffb71b;
  z-index: 2;
  border-radius: 30px;
}

.popup .popCon .xBtn:before, .popup .popCon .xBtn:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 14px;
  width: 3px;
  height: 18px;
  background: #fff;
  display: inline-block;
}

.popup .popCon .xBtn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popCon .xBtn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .contBox {
  position: relative;
  width: 400px;
  height: auto;
  background: #fff;
  border-radius: 13px;
  border: 5px solid #CE8900;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*=============================================
=                     RWD                   =
=============================================*/
@media screen and (max-width: 768px) {
  .pcShow {
    display: none;
  }
  .mShow {
    display: block;
  }
}
/*# sourceMappingURL=layout.css.map */